<div>
  <h1>Покупка</h1>
  <div>
    <h3>Информация о покупке посещения {{purchase.product.name}}</h3>
    <p>
      Начало состоится в {{purchase.product.start}}, завершение в {{purchase.product.end}}. Место проведения - {{purchase.product.location}}.
    </p>
  </div>
  <form>

    <div>
      <label>Отправить, как подарочный сертификат.</label>
      <input type="checkbox" ng-model="purchase.present">
    </div>

    <div>
      <label for="quantity">Количество:</label>
      <input id = quantity type="number" ng-model="purchase.quantity">
      <p>Сумма покупки: {{purchase.quantity * purchase.product.cost}}</p>
    </div>

    <div>
      <label for="buyermail">Ваша почта </label>
      <input id="buyermail" type="email" required ng-model="purchase.mail.sender">
      <label ng-show="purchase.present" for="giftmail">Почта получателя сертификата</label>
      <input ng-show="purchase.present" id="giftmail" type="email"  ng-model="purchase.mail.gifted">
      <label for="phone">Почта получателя сертификата</label>
      <input id="phone" type="text" kendo-masked-text-box  k-mask="'+7(978)000-00-00'" required ng-model="purchase.phone">
    </div>

    <button class="k-button k-primary" type="submit" ng-click="purchase.pay()">Оплатить</button>
    <button class="k-button k-danger" type="button" ng-click="purchase.cancel()">Отмена</button>
  </form>
</div>


