/node_modules/
/bower_components/
.idea/*
/ClientSide/bower_components/
!/ClientSide/bower_components/kendo-ui/*
/ClientSide/node_modules/
/ClientSide/.tmp/
/ClientSide/dist/
ClientSide/coverage/
ClientSide/.sass-cache/

/ServerSide/node_modules/