/node_modules/
/ClientSide/node_modules/
/ServerSide/node_modules/
/bower_components/*
!/bower_components/kendo-ui
/ClientSide/bower_components/
ClientSide/coverage/
ClientSide/.sass-cache/
ClientSide/.idea/
/.idea/
/ClientSide/.tmp/
/ClientSide/dist/