<aside class="main-sidebar">
  <!-- Inner sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Категории</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="active">
        <a href="#">
          <span>{{categories[0].name}}</span>
        </a><
      </li>
      <li ng-repeat="category in categories">
        <a href="#"><span>{{category.name}}</span></a>
      </li>

      <li class="treeview">
        <a href="#"><span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->

  </div><!-- /.sidebar -->
</aside><!-- /.main-sidebar -->
