<aside class="main-sidebar">

  <h1>Категории</h1>

      <ul ng-repeat="category in categoryMenu" ng-include="'treeview.html'"></ul>

  <script type="text/ng-template" id="treeview.html">

    <li>
      <a ng-show="{{!category.childes.length}}" href="/#/category/{{category.id}}">
        <span ng-bind="::category.name"></span>
      </a>

      <a ng-hide="{{!category.childes.length}}" href="#">
        <span ng-bind="::category.name"></span>
      </a>
    </li>

    <ul ng-if="::category.childes.length">
      <div ng-repeat="category in category.childes" ng-include="'treeview.html'"></div>
    </ul>
  </script>

</aside><!-- /.main-sidebar -->
